body.signin-body{
    background-color: #e6f2ff;
}
.signin-container{
    margin-top: 7%;
}
.card.signin-card{
    padding: 20px 0px 0px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
img.signin-image{
    display: block;
    margin: auto;
    padding: 20px 0px;
    width: 50%;
    height: 100%;
    margin-bottom: 30px;
}
form.signin-form{
    margin-top: 20px;
    max-width: 350px;
    margin: auto;
}
button.signin-button{
    color: #ffffff;
    background-color: #CD0606;
    width: 100%;
}
button.signin-button:hover{
    background: black;
}
.custom-checkbox{
    margin-top: 0.7rem;
    font-size: 14px;
}
.custom-cna{
    font-size: 20px;
    text-align: center;
    display: block;
    margin-top: 13px;
}